@import 'public';
//头部
.header{
    width:100%;
    height:31px;
    border:1px solid #dddddd;
    font-size: 12px;
    color:#999999;
    .container{
        width: 1150px;
        height: 129px;
        margin:0 auto;
        .register{
            width:220px;
            height:30px;
            border:1px solid #dddddd;
            border-bottom:1px solid #ffffff;
            float:left;
            margin-left:102px;
            text-align: center;
            line-height: 31px;
            }
        ul{
            height: 31px;
            float: left;
            margin-left: 260px;
            li{
                float:left;
                line-height: 31px;
                padding-left:9px;
                padding-right:9px;
                background:url(../img/line.jpg) no-repeat right center;
                a{
                    color:#999999;
                    &:hover{
                        color:#DC4F45;
                    }
                }
            }
            .map{
                background: none;
            }
        }
    }
    .logo{
        clear:both;
        width:336px;
        float: left;
        padding-top:21px;
        padding-bottom: 15px;
    }
    .twoCode{
        float: left;
        padding-left: 38px;
        padding-top: 30px;
    }
    .phoneNum{
        float: left;
        padding-left: 250px;
        padding-top: 54px;
        color:#dc4f45;
        font-size:19px;
    }
    .shopCar{
        float: left;
        padding-left: 120px;
        padding-top: 54px;
        color:#dc4f45;
        font-size:19px;
        background: url(../img/shopCar.png) no-repeat 60px 53px;
    }
}
//nav
nav{
    width:100%;
    height:62px;
    background:#555555;
    clear: both;
    ul{
        width: 1150px;
        height:62px;
//      float: left;
        margin:0 auto;
//      padding-left: 54px;
        li{
            float:left;
            font-size:16px;
            width: 164px;
            text-align: center;
            line-height: 62px;
            a{
              color:#ffffff;
            }
        }
    }
}

.line{
    width: 1150px;
    height: 47px;
    margin: 0 auto;
    border-bottom: 1px solid #e2e5e9;
    margin-bottom: 24px;
}
.classes{
    float: left;
    width:934px ;
    height:79px;
    background: #e2e5e9;
    margin-left:138px;
    border-bottom: 1px solid #cccccc;
    color: #666666;
    p{
        height: 37px;
        line-height: 37px;
        text-indent: 17px;
    }
    ul{
        float: left;
        a{
            color: #666666;
            &:hover{
                color:#DC4F45;
            }
        }
        li{
            float: left;
            height: 42px;
            text-align: center;
            line-height: 42px;
            padding: 0 10px;
        }
    }
}
.select{
    float: left;
    width: 934px;
    height: 41px;
    line-height: 41px;
    background: #e2e5e9;
    margin-left:138px;
    color: #666666;
    .wordList{
        float: left;
        li{
            float: left; 
            line-height: 41px;
            margin-left: 17px;
            a{
                color:#666666;
            }
        }
        .red a{
            color: #DC4F45;
        }
        .toparrow{
            width: 38px;
            background:url(../listImg/topArrow.png) no-repeat right;
        }
        .uparrow{
            width: 38px;
            background:url(../listImg/upArrow.png) no-repeat right;
        }
    } 
    span{
        display: inline-block;
        float: left;
        height: 41px;
        margin-left:14px ;
        color: #666666;
    }
    .sort{
        margin-bottom: 10px;
        float: left;
        margin:10px;
    }
    .piclist{
        float: right;
        li{
            float: left;
            width: 42px;
            margin-right: 10px;
            line-height: 41px;
            a{
                color:#666666;
            }  
        }
        .pic1{
            text-align: right;
            background: url(../listImg/bigPic.jpg) no-repeat left;
        }
        .pic2{
            text-align: right;
            background: url(../listImg/list.jpg) no-repeat left;
        }
    }
    .page{
        float: left;
        margin-left:408px;
        color:#666666;
        line-height: 41px;
    }
    #left{
        float: left;
        width: 24px;
        height: 23px;
        margin-top: 10px;
        background: url(../listImg/pageBut.jpg) no-repeat;
    } 
    #right{
        float: left;
        width: 23px;
        height: 23px;
        margin-top: 10px;
        background: url(../listImg/pageButR.jpg) no-repeat;
    }  
}
.imgs{
    width: 177px;
    float: right;
    margin-right:140px;
    margin-top: -79px;
    border:1px solid #E2E5E9;
    p{
        height: 36px;
        background:#E2E5E9;
        line-height: 36px;
        color:#666666;
        span{
            float:right;
            a{
                color: #666666;
                &:hover{
                    color:#DC4F45;
                }
            }
        }
    }
    figure{
        height: 254px;
        border-bottom: 1px solid #e2e5e9;
        img{
            width:150px;
            height: 150px;
            margin: 21px 4px 5px 24px;
        }
        p{
            margin-left: 36px;
            background: #FFFFFF;
            a{
                color:#666666;
            }
        }
        span{
            display: inline-block;
            color: #DC4F45;
            margin-left: 75px;
        }
    }
}
.imgList2,.imgList3{
    display: none;
}
.imgList,.imgList2,.imgList3{
    width: 935px;
    margin-left:136px ;
    li{
        float: left;
        width: 244px;
        height: 384px;
        margin:9px 33px;
        padding: 14px 11px;
        img{
            margin-left: 10px;
        }
        p{
            width: 221px;
            height: 41px;
            color:#666666;
            font-size: 13px;
        }
        span{
            display: inline-block;
            width: 70px;
            height: 48px;
            line-height: 48px;
            color: #DC4F45;
            font-size: 14px;  
        }
        div{
            margin-bottom: 15px;
            a{
                display: inline-block;
                width: 23px;
                height: 23px;
                border:1px solid #a9a9a9;
                text-align: center;
                color:#666666;
                float:left;
                margin-top:19px;
            }
            input{
                width: 32px;
                height: 23px;
                float: left;
                margin-top:19px;        
            }
            span{
                display: inline-block;
                width: 90px;
                height: 18px;
                font-size: 12px;
                line-height: 12px;
                text-align: center;
                color: #666666;
                float: left;
                margin-top: 22px;
                background: #e2e5e9;
                margin-left: 13px;
            } 
        }
    }
}
.listPage{
    width: 935px;
    height: 24px;
    float: left;
    margin-left: 138px;
    text-align: right;
    margin-bottom: 10px;
    a{
        display: inline-block;
        width:24px ;
        height: 24px;
        line-height: 24px;
        border:1px solid #dddddd;
        color:#666666;
        text-align: center;
    }
    a:nth-child(1),a:nth-child(5){
        width: 27px;
        height: 23px;
    }
}
//帮助中心
.botHelp{
    clear:both;
    width:100%;
    height:271px;
    background:#f8f8f8;
    margin-top:20px;
    color:#666666;
    .help{
        margin-left: 131px;
    }
    .help1,.help2,.help3{
        float: left;
        width: 205px;
        height:218px;
        border-right:1px solid #929292;
        text-align: right;
        padding-right: 14px;
        h3{
            margin-top:21px ;
            font-size: 12px;
            font-weight: normal;
            margin-bottom: 31px;
        }
        p{
          line-height: 25px;
          a{
              color: #666666;
              &:hover{
                color:#dc4f45;
               }
          }  
        }
    }
    .help4{
        float: left;
        margin-left: 157px;
        padding-top: 17px;
        line-height: 18px;
        img{
            margin-top: 20px;
            width: 115px;
        }
    }
}
//底商
.Bottom{
    width:100%;
    height:280px;
    background: #555555;
    margin:0 auto;
    text-align: center;
    padding-top: 33px;
    .Bottom1{
        width: 1154px;
        height: 50px;
        line-height: 35px;
        margin:0 auto;
        border-bottom: 1px solid #979797;
        margin-bottom: 17px;
        span{
        font-size: 18px;
        color:#f1c232;
        }
    }
    a{
        color:#666666;
        background: url(../img/botline.jpg) no-repeat right;
        &:hover{
           color:#dc4f45;
        }
    }
    .botbot{
        color:#666666;
        margin-top:71px;
    }  
}
//广告
.ad1{
    position:fixed;
    top:245px;
}
.ad2{
    width:140px;
    height:220px;
    position:fixed;
    top:185px;
    span{
        position: absolute;
        right: 5px;
    }
    input{
        width:124px;
        height:21px;
        position:absolute;
        top:157px;
        left:8px;
    }
    a{
        color:#8bd3e2;
        position:absolute;
        top:189px;
        left:28px;
        font-size:15px;
    }
}
.ad3{
    position:fixed;
    bottom:10px;
    right:40px;
}
.rightSide{
    width:34px ;
    height:100%;
    position: fixed;
    right:0;
    top:0;
    background-color: #000000;
    a{
        display: block;
    }
    .order{
        background:url(../img/rSide.png) no-repeat ;
        width:35px;
        height:33px;
        margin-top:123px;
    }
    .handOut{
         background:url(../img/rSide.png) no-repeat 0 -57px ;
         width:35px;
         height:21px;
         margin-top: 30px;
    }
    .smallcar{
        background:url(../img/rSide.png) no-repeat 0 -145px ;
        width:35px;
        height:40px;
        margin-top: 27px;
        span{
            background: #DC4F45;
            border-radius: 50%;
            width: 15px;
            height:15px;
            line-height: 15px;
            text-align: center;
            color:#FFFFFF;
            position:absolute;
            left:12px;
            top:265px;
        }
    } 
    .disCount{
        background:url(../img/rSide.png) no-repeat 0 -191px ;
        width:35px;
        height:19px;
        margin-top: 300px;
    }
    .towcode{
        background:url(../img/rSide.png) no-repeat 0 -281px ;
        width:35px;
        height:19px;
        margin-top: 30px;
    }
    .call{
        background:url(../img/rSide.png) no-repeat 0 -324px ;
        width:35px;
        height:19px;
        margin-top: 30px;
    }
    .toTop{
        background:url(../img/rSide.png) no-repeat 0 -368px ;
        width:35px;
        height:19px;
        margin-top: 30px;
    }
}
//弹出注册
.setting{
    width: 100%;
    height:3603px;
    background: #000000;
    opacity: 0.5;
    z-index: 4;
    display: none;
    position: absolute;
    top:0;
}
.logInBox{
    width: 100%;
    height:100%;
    z-index:5 ;
    position:absolute;
    top:0;
    display: none;
     .logIn{
        width: 573px;
        height: 480px; 
        background: #FFFFFF;
        opacity: 1;
        position:absolute;
        top:144px;
        left:426px;
        border:1px solid #b5b5b5;
        header{
            height:57px;
            border-bottom:2px solid #929292;
            padding-left: 20px;
            a{
                display: block;
                width: 68px;
                height:33px;
                line-height: 33px;
                text-align: center;
                background: #666666;
                color:#FFFFFF;
                font-size: 15px;
                float: left; 
                margin-top: 24px;
                margin-left: 10px;
            }
            a:nth-child(2){
                border:1px dashed #666666;
                background: #eeeeee;
                color: #666666;
                border-bottom: 1px solid #929292;
            }
            span{
                display:block;
                width: 11px;
                height: 11px;
                background: url(../register-img/off.jpg) no-repeat;
                float: right;
                margin-right: 10px;
                margin-top: 13px;
            }
        }
        table{
            width: 426px;
            height:245px;
            margin: 0 auto;
            color: #666666;
            font-size: 14px;
           tr{
               td:nth-child(1){
                   width: 85px;
                   text-align: right;
               }
               td:nth-child(2){
                   width: 82px;
                   text-align: left;
                   #inp{
                       width: 296px;
                       height: 30px;
                   }
               }
            }
            tr:nth-child(3){
                td:nth-child(2){
                    input:nth-child(2){
                        margin-left: 16px;
                    }
                }
            }
            tr:nth-child(4){
                td:nth-child(2){
                    input{
                        width: 80px;
                        height: 37px;
                        background: url(../register-img/dl.jpg) no-repeat;
                        margin-right: 10px;
                    }
                    a{
                        color:#0563c3;
                        margin-bottom: 20px;
                    }
                }
            }
        }
        footer{
            border-top: 1px dashed #cccccc;
            padding-left:148px ;
            p{
              font-size: 12px;
              color:#333333;
              margin-top:29px;
            }
            input{
                width: 119px;
                height: 24px;
                background: url(../register-img/qq.jpg) no-repeat;
                margin:5px;
            }
            input:nth-child(3){
                background:url(../register-img/weibo.jpg) no-repeat ;
            }
            input:nth-child(5){
                background:url(../register-img/taobao.jpg) no-repeat ;
            }
            input:nth-child(6){
                background:url(../register-img/zhifubao.jpg) no-repeat ;
            }
        }
    }
    .newLogin{
        width: 573px;
        height: 378px; 
        background: #FFFFFF;
        opacity: 1;
        position:absolute;
        top:191px;
        left:424px;
        border:1px solid #b5b5b5;
        display: none;
        header{
            height:57px;
            border-bottom:2px solid #929292;
            padding-left: 20px;
            a{
                display: block;
                width: 68px;
                height:33px;
                line-height: 33px;
                text-align: center;
                background: #666666;
                color:#FFFFFF;
                font-size: 15px;
                float: left; 
                margin-top: 24px;
                margin-left: 10px;
            }
            a:nth-child(1){
                border:1px dashed #666666;
                background: #eeeeee;
                color: #666666;
                border-bottom: 1px solid #929292;
            }
            span{
                display:block;
                width: 11px;
                height: 11px;
                background: url(../register-img/off.jpg) no-repeat;
                float: right;
                margin-right: 10px;
                margin-top: 13px;
            }
        }
        table{
            width: 570px;
            height:321px;
            margin: 0 auto;
            color: #666666;
            font-size: 14px;
           tr{
               td:nth-child(1){
                   width: 94px;
                   text-align: right;
               }
               td:nth-child(2){
                   width: 425px;
                   text-align: left;
                   #inp{
                       width: 296px;
                       height: 30px;
                   }
               }
            }
            tr:nth-child(4){
                td:nth-child(2){
                    a{
                        color:#0563c3;
                    }
                }
            }
            tr:nth-child(5){
                td:nth-child(2){
                    input{
                        width: 80px;
                        height: 37px;
                        background: url(../register-img/zc.jpg) no-repeat;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
   